@(message: String)(implicit request: RequestHeader)

@main(message) {
  <div id="tweets"></div>
  <script type="text/javascript">

    function appendTweet(text) {
      const tweet = document.createElement('p');
      const message = document.createTextNode(text);
      tweet.appendChild(message);
      document.getElementById('tweets').appendChild(tweet);
    }

    function connect(attempt) {
      const connectionAttempt = attempt;
      const url = "@routes.Application.tweets().webSocketURL()";
      // Initialize WebSocket connection using Play reverse route.
      const tweetSocket = new WebSocket(url);

      tweetSocket.onmessage = (event) => {
        console.log(event);
        const data = JSON.parse(event.data);
        appendTweet(data.text)
      };

      tweetSocket.onopen = () => {
        connectionAttempt = 1;
        // Send a subscription request to the server on open
        tweetSocket.send('subscribe');
      };

      tweetSocket.onclose = () => {
        if (connectionAttempt <= 3) {
          appendTweet("WARNING Lost server connect, attempting to reconnect");
          setTimeout(() => connect(connectionAttempt++), 5000);
        } else {
          alert("The connection with the server was lost");
        }
      };
    }

    connect(1);
  </script>
}
